h3
{
    font-size: 25px !important;
    color: black !important;
}
.btn-success:hover
{
    background-color : red;

}
canvas {
    animation: colors 4s infinite ;
}

@keyframes colors {
    from {box-shadow: 1px 1px 38px skyblue;}
    to{box-shadow: 1px 1px 38px greenyellow;}
}